@charset "UTF-8";

.fix-height-table{
    height: 300px;
    overflow-y: scroll;
}

.fix-height-table::-webkit-scrollbar{width:0}

.line {
    padding: 15px 5px 5px 15px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom-color: rgb(238, 238, 238);
}

.word-button{
    color: rgb(64, 158, 255);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.shadow-card{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04)
}

.word-button:focus {
    outline: none;
}

.error-message{
    color: red;
}

.button-panel{
    background-color: rgb(234, 241, 245);
    text-align: right;
    padding: 10px;
}

.word-title{
    background-color: rgb(236, 245, 255);
    color: rgb(94, 171, 253);
    font-style: normal;
    padding: 5px;
}