@charset "UTF-8";

.patient-table{
    height: 400px;
    overflow-y: scroll;
}

.patient-table::-webkit-scrollbar{width:0}

.line {
    padding: 15px 5px 5px 15px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom-color: lightskyblue;
}

.word-button{
    color: rgb(64, 158, 255);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.word-button::focus{
    outline: none;
}

.error-message{
    color: red;
}

.button-panel{
    background-color: #f0f0f0;
    text-align: right;
}