<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springMvc.dao.MedicalTechnicianTemplateDetailMapper" >
  <resultMap id="BaseResultMap" type="com.springMvc.entity.po.MedicalTechnicianTemplateDetail" >
    <id column="mt_temp_name" property="mtTempName" jdbcType="VARCHAR" />
    <id column="non_mid" property="nonMid" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mt_temp_name, non_mid, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from medical_technician_template_detail
    where mt_temp_name = #{mtTempName,jdbcType=VARCHAR}
      and non_mid = #{nonMid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetailKey" >
    delete from medical_technician_template_detail
    where mt_temp_name = #{mtTempName,jdbcType=VARCHAR}
      and non_mid = #{nonMid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetail" >
    insert into medical_technician_template_detail (mt_temp_name, non_mid, deleted
      )
    values (#{mtTempName,jdbcType=VARCHAR}, #{nonMid,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetail" >
    insert into medical_technician_template_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mtTempName != null" >
        mt_temp_name,
      </if>
      <if test="nonMid != null" >
        non_mid,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mtTempName != null" >
        #{mtTempName,jdbcType=VARCHAR},
      </if>
      <if test="nonMid != null" >
        #{nonMid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetail" >
    update medical_technician_template_detail
    <set >
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where mt_temp_name = #{mtTempName,jdbcType=VARCHAR}
      and non_mid = #{nonMid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springMvc.entity.po.MedicalTechnicianTemplateDetail" >
    update medical_technician_template_detail
    set deleted = #{deleted,jdbcType=BIT}
    where mt_temp_name = #{mtTempName,jdbcType=VARCHAR}
      and non_mid = #{nonMid,jdbcType=INTEGER}
  </update>
</mapper>