<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springMvc.dao.PrescriptionMapper" >
  <resultMap id="BaseResultMap" type="com.springMvc.entity.po.Prescription" >
    <id column="pres_id" property="presId" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="medical_no" property="medicalNo" jdbcType="INTEGER" />
  </resultMap>

  <select id="prescribeDrugs" parameterType="com.springMvc.entity.vo.PrescriptionDrugs" statementType="CALLABLE">
    call prescribe_drugs(
        #{regId, jdbcType=INTEGER, mode=IN},
        #{presName, jdbcType=VARCHAR, mode=IN},
        #{type, jdbcType=VARCHAR, mode=IN},
        #{presList, jdbcType=VARCHAR, mode=IN},
        #{len, jdbcType=INTEGER, mode=IN},
        #{presId, jdbcType=INTEGER, mode=OUT},
        #{success, jdbcType=INTEGER, mode=OUT},
        #{message, jdbcType=VARCHAR, mode=OUT}
      );
  </select>

  <select id="getDrugsForPay" parameterType="java.util.Map" resultType="java.util.Map">
    select d.name as name, d.price as price, p.amount as amount, p.state as state, p.pres_detail_id as presDetailId
    from prescription_detail as p join drug as d using (drug_id)
    where p.state = #{state, jdbcType=VARCHAR} and p.pres_id in (
      select pres_id
      from prescription
      where medical_no = #{medicalNo, jdbcType=INTEGER}
        and state = '开立'
    );
  </select>

  <sql id="Base_Column_List" >
    pres_id, case_id, name, state, type, deleted, dept_id, medical_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prescription
    where pres_id = #{presId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prescription
    where pres_id = #{presId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springMvc.entity.po.Prescription" >
    insert into prescription (pres_id, case_id, name, 
      state, type, deleted, dept_id, 
      medical_no)
    values (#{presId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{deptId,jdbcType=INTEGER}, 
      #{medicalNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springMvc.entity.po.Prescription" >
    insert into prescription
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="presId != null" >
        pres_id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="medicalNo != null" >
        medical_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="presId != null" >
        #{presId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="medicalNo != null" >
        #{medicalNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springMvc.entity.po.Prescription" >
    update prescription
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="medicalNo != null" >
        medical_no = #{medicalNo,jdbcType=INTEGER},
      </if>
    </set>
    where pres_id = #{presId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springMvc.entity.po.Prescription" >
    update prescription
    set case_id = #{caseId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      dept_id = #{deptId,jdbcType=INTEGER},
      medical_no = #{medicalNo,jdbcType=INTEGER}
    where pres_id = #{presId,jdbcType=INTEGER}
  </update>
</mapper>