<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springMvc.dao.PrescriptionTemplateDetailMapper" >
  <resultMap id="BaseResultMap" type="com.springMvc.entity.po.PrescriptionTemplateDetail" >
    <id column="pres_temp_name" property="presTempName" jdbcType="VARCHAR" />
    <id column="drug_id" property="drugId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="dosage" property="dosage" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="number_per" property="numberPer" jdbcType="VARCHAR" />
    <result column="drug_usage" property="drugUsage" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    pres_temp_name, drug_id, amount, dosage, frequency, number_per, drug_usage, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from prescription_template_detail
    where pres_temp_name = #{presTempName,jdbcType=VARCHAR}
      and drug_id = #{drugId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetailKey" >
    delete from prescription_template_detail
    where pres_temp_name = #{presTempName,jdbcType=VARCHAR}
      and drug_id = #{drugId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetail" >
    insert into prescription_template_detail (pres_temp_name, drug_id, amount, 
      dosage, frequency, number_per, 
      drug_usage, deleted)
    values (#{presTempName,jdbcType=VARCHAR}, #{drugId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{dosage,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, #{numberPer,jdbcType=VARCHAR}, 
      #{drugUsage,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetail" >
    insert into prescription_template_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="presTempName != null" >
        pres_temp_name,
      </if>
      <if test="drugId != null" >
        drug_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="dosage != null" >
        dosage,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="numberPer != null" >
        number_per,
      </if>
      <if test="drugUsage != null" >
        drug_usage,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="presTempName != null" >
        #{presTempName,jdbcType=VARCHAR},
      </if>
      <if test="drugId != null" >
        #{drugId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="numberPer != null" >
        #{numberPer,jdbcType=VARCHAR},
      </if>
      <if test="drugUsage != null" >
        #{drugUsage,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetail" >
    update prescription_template_detail
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="dosage != null" >
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="numberPer != null" >
        number_per = #{numberPer,jdbcType=VARCHAR},
      </if>
      <if test="drugUsage != null" >
        drug_usage = #{drugUsage,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where pres_temp_name = #{presTempName,jdbcType=VARCHAR}
      and drug_id = #{drugId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springMvc.entity.po.PrescriptionTemplateDetail" >
    update prescription_template_detail
    set amount = #{amount,jdbcType=INTEGER},
      dosage = #{dosage,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      number_per = #{numberPer,jdbcType=VARCHAR},
      drug_usage = #{drugUsage,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT}
    where pres_temp_name = #{presTempName,jdbcType=VARCHAR}
      and drug_id = #{drugId,jdbcType=INTEGER}
  </update>
</mapper>